name: godot-ci

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v2
        with:
          version: "4.5.1"
          use-dotnet: false
          install-export-templates: false

      - name: Godot version
        run: godot --headless --version

      - name: Import project (headless)
        env:
          GODOT_DISABLE_LEAK_CHECKS: "1"
        run: |
          godot --headless --editor --quit --path .
